<div class="d-flex justify-content-between">
  <div>
    Templater
  </div>
  <nav>
    <ul>
      <a href="/templates">
        templates
      </a>
    </ul>
  </nav>
  <div id="logout" class="btn btn-primary">
    Logout
  </div>
</div>