{{#extend "page"}}
{{#content "content"}}
<form id="generate">
    <h1>
        {{ template.name }}
    </h1>
    <div id="variables">

    </div>
    <div data-name="template" data-control="hidden">
        {{ template.content }}
    </div>
    <div class="form-control" data-name="output" data-control="textarea">
        {{ template.content }}
    </div>
    <input type="submit" value="Générer">
</form>
{{/content}}
{{/extend}}